# Shamefully hoist for all dependencies to the root node_modules
shamefully-hoist=true

# Auto install peer dependencies
auto-install-peers=true

# Strict peer dependencies
strict-peer-dependencies=false
